# Disable directory files listing
IndexIgnore *
# Enable rewrite
RewriteEngine on
# HTTP => HTTPS
RewriteCond %{HTTP:KERSSL} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteBase /
# Pass through if requested file exist.
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ - [L]
# Rewrite rules
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^post/(.+)$  /post/$1.html [L]
RewriteRule ^posts$  /posts.html
RewriteRule ^about$  /about.html

# 404 Page
ErrorDocument 404 /404.html
