# writings.sh

writings.sh

# Redirects www record access to without www domain.
www.writings.sh {
    redir https://writings.sh{uri}
}

root /srv/site
gzip

# Rewrite post/XXX  to /post/XXX.html
rewrite /post/(.+) /post/{1}.html
rewrite /posts$ posts.html
rewrite /about$ about.html

errors {
    404 404.html
}
