<div class="contact-info">
  <hr>
  <div class="avatar-container">
    <a href="{{ "/about" | relative_url }}">
      <img alt="avatar" src="{{ site.gravatar_link }}?s=80">
    </a>
  </div>
  <div class="contact-info-container">
    <a href="{{ "/"  | relative_url }}">首页</a> <span class="nav-divider">|</span>
    <a href="{{ "/posts"  | relative_url }}">归档</a> <span class="nav-divider">|</span>
    <a href="{{ "/about" | relative_url }}">关于</a>  <span class="nav-divider">|</span>
    <a href="{{ "/feed.xml"  | relative_url }}" target="_blank">订阅</a>
  </div>
  <div class="clear"></div>
</div>
