<div class="contact-info">
  <hr>
  <div class="avatar-container">
    <a href="{{ "/" | relative_url }}">
      <img alt="avatar" src="{{ site.gravatar_link }}?s=80">
    </a>
  </div>
  <div class="contact-info-container">
    {{ site.author_name_cn }} {{ site.author_location }} ·
    {% if page.id != 'index' %}
    <a href="{{ "/"  | relative_url }}">首页</a> |
    {% endif %}
    <a href="{{ "/posts"  | relative_url }}">归档</a> |
    <a href="{{ "/feed.xml"  | relative_url }}" target="_blank">订阅</a> |
    <a href="mailto: {{ site.email }}">邮箱</a> |
    <a href="https://github.com/{{ site.github_username }}" target="_blank">github</a>
  </div>
  <div class="clear"></div>
</div>
