{%- if page.comments != false -%}

<div id="disqus_thread">
  <div style="text-align: center"> 加载中... </div>
</div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url | absolute_url }}';
    };
    var disqusLoaded = false;
    var disqusLoader = function() {
      if (disqusLoaded) {
        return;
      }
      // Display disqus_thread.
      document.getElementById("disqus_thread").style.display = "block";

      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      disqusLoaded = true;
      document.getElementById("disqus_thread").style.marginTop = "20px";
      document.getElementById("disqus_thread").style.marginBottom = "20px";
    }
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{%- endif -%}
