{% if include.absolute_url %}
  {% assign image_url = include.absolute_url %}
{% else %}
  {% assign image_url = site.image_prefix | append: include.path %}
{% endif %}

{% if include.absolute_url %}
  {% assign image_svg_url = image_url %}
{% else %}
  {% assign image_svg_url = image_url | append: '-small.svg' %}
{% endif %}

{% capture image_note %}
  {% if include.note %}
  <figcaption>{{ include.note }}</figcaption>
  {% endif %}
{% endcapture %}

<figure>
  <img {% if include.id %}id="{{ include.id }}"{% endif %} class="post-content-img" src="{{ image_svg_url }}" data-src="{{ image_url }}" alt="{{ include.alt }}" {% if {{include.max_height}} or include.width %}style="max-height: {{ include.max_height }}px; {% if include.width %}width: {{ include.width }};{% endif %}"{% endif %} />{{ image_note }}</figure>
