@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nw4u6t');
  src:  url('fonts/icomoon.eot?nw4u6t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nw4u6t') format('truetype'),
    url('fonts/icomoon.woff?nw4u6t') format('woff'),
    url('fonts/icomoon.svg?nw4u6t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e90e";
}
.icon-facebook1:before {
  content: "\e901";
}
.icon-github1:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e903";
}
.icon-home1:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e905";
}
.icon-message-circle:before {
  content: "\e906";
}
.icon-rss1:before {
  content: "\e908";
}
.icon-twitter1:before {
  content: "\e90b";
}
.icon-reddit:before {
  content: "\eac6";
}
