* {
  padding: 0;
  margin: 0;
}

html { width: 100%; }

body {
  margin: 20px auto;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.7;
  color: #111111;
  background-color: #fefefe;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  width: 61.8%;
  max-width: 710px;
}

a:link {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
}

a:hover {
  color: #fff;
  background-color: #000;
  text-decoration: none;
}

header h1 a:link {
  text-decoration: none;
}

footer {
  text-align: center;
  padding: .5em 0 .5em 0;
  color: #999;
}

footer a:link { color: #999; }
footer a:visited { color: #999; }

article {
  word-spacing: -1px;
}

article .post-meta span {
  margin-right: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: 600;
  cursor: text;
  position: relative;
  text-align: left;
}

h1 {
  font-weight: 600;
}

h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

h6 {
  color: #555;
}

p,
blockquote,
ul,
ol,
dl,
table,
pre {
  margin: 15px 0;
}

hr {
  border: 0 none;
  border-bottom: 1px solid #ccc;
  color: #ccc;
  height: 4px;
  padding: 0;
}

li p.first {
  display: inline-block
}

ul {
  list-style: disc;
  padding-left: 30px;
}

ol {
  list-style: decimal;
  padding-left: 30px;
}

ul.no-list,
ol.no-list {
  list-style-type: none;
  padding: 0;
}

ul :first-child,
ol :first-child {
  margin-top: 0;
}

ul ul,
ol ul {
  ist-style-type: circle
}

img {
  display: block;
  max-width: 100%;
}

pre {
  background-color: #eceff1;
  border: 0;
  padding: .8em 1em;
  overflow: auto;
  word-spacing: 0;
}

code {
  background-color: #eceff1;
  padding: 1px 4px;
}

pre code {
  font-size: 16px;
  line-height: 1.45;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  border: none;
  padding: 0;
}

blockquote {
  border-left: 5px solid #DDD;
  padding: 0 16px;
  color: #777;
}

table {
  display: block;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
  width: 100%;
}

table tr {
  border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table th {
  font-weight: 600;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 6px 13px;
}

table th :first-child,
table td :first-child {
  margin-top: 0;
}

table th :last-child,
table td :last-child {
  margin-bottom: 0;
}

#disqus_thread {
  margin-top: 50px;
}

.return-home-link {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.post-copyright {
  color: #777;
}

/* Not-Desktop */
@media (max-device-width:1281px) {
  body {
    width: 90%;
    max-width: 1000px;
    font-size: 24px;
  }
  h1 { font-size: 38px; }
  h2 { font-size: 34px; }
  h3 { font-size: 29px; }
  h4 { font-size: 25px; }
  h5 { font-size: 22px; }
  h6 { font-size: 20px; }
}

/* Desktop */
@media (min-device-width:1281px) {
  body {
    width: 61.8%;
    max-width: 710px;
    font-size: 16px;
  }
  h1 { font-size: 28px; }
  h2 { font-size: 24px; }
  h3 { font-size: 18px; }
  h4 { font-size: 16px; }
  h5 { font-size: 14px; }
  h6 { font-size: 14px; }
}
